*{
    margin: 0px;
    padding: 0px;
	box-sizing: border-box;
}

.main-header{
    font-family: 'Bangers', cursive;
    background-color: rgb(197, 220, 226);
    height: 6.5rem;  
}

.center-test{
    width: 100%;
}

.logo-y-nombre{
    display: flex;
    flex-direction: row; 
    color:black;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.icon{
    transform: scaleX(-1);
    height: 100px;
}

.text-header{
    font-size: 25px;
    font-family: 'Bangers', cursive;
}

.text-header-sub{
    display: block;
    font-size: 25px;
    font-family: 'Bangers', cursive;
}

.mainHeaderBottom{
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    color: white;
    background-color: rgb(197, 220, 226);
    font-family: 'Bangers', cursive;
    border-top:  1px black solid;

}

.mainHeaderBottom ul{
    font-size: 14px;
    list-style: none;
    color: #e1e5f2;
    display: flex;
    padding: 5px 0;

    }

.mainHeaderBottom li{
    padding: 4px 15px 4px 15px ;
    
    transition: 1s;
}

.mainHeaderBottom li:hover{
    color: white;
}

