.conteinerTableProducts{
  text-align: center;
  padding: 15px;
}

.tableProducts th{
    border: 1px solid white; 
}
    
.tableProducts td{
    padding: 10px;
    border: 1px solid white;
    font-family: 'Bangers', cursive;
    color: white;
}

.tableProducts{
  left: 38%;
  position: relative;
  padding: 15px;
}

.ver4{
  font-family: 'Bangers', cursive;
  color: white;
}